<%
# HTML for indicating in a label that a field is required
req_f = '<span class="req">*</span>'

# pre: f => form_for variable, field => ruby symbol corresponding to 
def my_date(f, field)
%>
	<span>
		<input id="<%= field.to_s %>-1" name="request[<%= field.to_s %>(2i)]" 
			type="text" class="field text" value="<%= @request.send(field).nil? ? "" : @request.send(field).month %>" size="2" maxlength="2" tabindex="59" /> 
		<label for="<%= field.to_s %>-1">MM</label>
	</span>
	<span>
		<input id="<%= field.to_s %>-2" name="request[<%= field.to_s %>(3i)]" 
			type="text" class="field text" value="<%= @request.send(field).nil? ? "" : @request.send(field).day %>" size="2" maxlength="2" tabindex="60" /> 
		<label for="<%= field.to_s %>-2">DD</label>
	</span>
	<span>
		<input id="<%= field.to_s %>" name="request[<%= field.to_s %>(1i)]" 
			type="text" class="field text" value="<%= @request.send(field).nil? ? "" : @request.send(field).year %>" size="4" maxlength="4" tabindex="61" />
		<label for="<%= field.to_s %>">YYYY</label>
	</span>
	<span id="cal_<%= field.to_s %>">
		<img id="pick_<%= field.to_s %>" class="datepicker" src="/images/icons/calendar.png" alt="Pick a date." />
	</span>
	<script type="text/javascript">
	Calendar.setup({
	inputField : "<%= field.to_s %>",
	displayArea  : "cal_<%= field.to_s %>",
	button : "pick_<%= field.to_s %>",
	ifFormat : "%B %e, %Y",
	onSelect : selectDate
	});
	</script>
<%	
end
%>



<ul>

<li id="fo1li17" class="first section     ">
	<h3 id="title17">General School Information</h3>
	<div id="instruct17">Tell us about your school and what kind of assembly you'd like.</div>
</li>


<li id="fo1li11" class="    ">
	<%= f.label :school, "School Name #{req_f}", :class => "desc" %>
	<div><%= f.text_field :school, :class => "field text", :size => 50 %></div>
	<p class="instruct" id="instruct11"><small>The name of your school!</small></p>
</li>

<li id="fo1li12" class="    ">
	<%= f.label :assembly_type, "Assembly Type #{req_f}", :class => "desc" %>
	<div class="col">	
	<%= f.radio_button :assembly_type, 1 %>
		<label class="choice"> Public School requesting FREE assembly(ies) for ALL students.  </label>
	<%= f.radio_button :assembly_type, 1 %>
		<label class="choice"> Public School requesting FEE-based assembly(ies) for select groups/grades.  </label>		
	<%= f.radio_button :assembly_type, 1 %>
		<label class="choice"> Private School requesting FEE-based assembly(ies) for ALL students.  </label>	
	<%= f.radio_button :assembly_type, 1 %>
		<label class="choice"> Private School requesting FEE-based assembly(ies) for select groups/grades.  </label>
	</div>

	<p class="instruct" id="instruct12">
		<small>Assemblies/Book Signings are for everyone (K and up), never exclude grade levels or classes!  <br /><br />
			A $1,800. fee applies for visits to less than the entire school!</small>
	</p>
</li>		


<li id="fo1li13" class="leftHalf     ">
	<%= f.label :starting_grade, "Starting grade at your school #{req_f}", :class => "desc" %>
	<div>
		<%= f.select :starting_grade, GRADES %>
	</div>
	<p class="instruct" id="instruct13"><small>Note: Pre-K is not encouraged to attend.</small></p>
</li>

<li id="fo1li14" class="rightHalf     ">
	<%= f.label :ending_grade, "Ending grade at your school #{req_f}", :class => "desc" %>
	<div>
		<%= f.select :ending_grade, GRADES %>
	</div>
	<p class="instruct" id="instruct14"><small>This should be the total range of grades at your school.</small></p>
</li>



<li id="fo1li15" class="    ">
		<%= f.label :num_students, "Total number of students at your school #{req_f}", :class => "desc" %>
			<div><%= f.text_field :num_students, :class => "field text", :size => 8 %></div>
		<p class="instruct" id="instruct15"><small>This is your total enrollment for ALL grades.  
			If a portion of your school is 'off session', then you can just indicate the number of students 
			that will be present/'in session' for Mr. Mike's visit.</small></p>
</li>


<li id="fo1li23" class="    ">
	<%= f.label :author_hosted, "Has your school ever hosted an author?", :class => "desc" %>
	<div class="col">	
	<%= f.radio_button :author_hosted, 1 %>
		<label class="choice">Yes</label>
	<%= f.radio_button :author_hosted, 2 %>
		<label class="choice">No</label>
	<%= f.radio_button :author_hosted, 3 %>
		<label class="choice">I don't know</label>
	</div>
	<p class="instruct" id="instruct23"><small>It's good for us to know if author visits are something your school 
		is used to - or only does once in while - or maybe this is the first time!</small></p>
</li>

<li id="fo1li105" class="    ">
	<%= f.label :mike_hosted, "Has Mr. Mike visited your school before?", :class => "desc" %>
	<div class="col">	
	<%= f.radio_button :mike_hosted, 1 %>
		<label class="choice">Yes</label>
	<%= f.radio_button :mike_hosted, 2 %>
		<label class="choice">I don't know</label>
	<%= f.radio_button :mike_hosted, 3 %>
		<label class="choice">Yes, but I can't remember the date.</label>
	<%= f.radio_button :mike_hosted, 4,
		:onmouseup => "document.getElementById('request_mike_hosted').focus();" %>
		<label class="choice">Yes, the year of the visit was:</label>
	<%= f.text_field :mike_hosted, :class => "field text", :size => 8,
		:onclick => "document.getElementById('request_mike_hosted_4').checked = 'checked';" %>
	</div>
	<p class="instruct" id="instruct105"><small>If Mr. Mike has been to your school before, we usually have about 
		a 3 year wait between visits.  <br /><br />
		If you're not sure, you can make a request anyway and we'll check to see the last time he was there.</small></p>
</li>


<li id="fo1li19" class="section     ">
	<h3 id="title19">Contact Information</h3>
	<div id="instruct19">How we'll get in touch with you!</div>
</li>


<li id="fo1li0" class="leftHalf    ">
	<label class="desc">Primary Contact Person</label>
	<span>
		<%= f.text_field :contact1_first, :class => "field text", :size => 8 %>
		<%= f.label :contact1_first, "First" %>
	</span>
	<span>
		<%= f.text_field :contact1_last, :class => "field text", :size => 14 %>
		<%= f.label :contact1_last, "Last" %>
	</span>
	<p class="instruct" id="instruct0"><small>You will be responsible for staying in touch with us, 
		receiving the Preparation Packet and ensuring that preparations are underway at least a month
		 before the event!<br /></small></p>
</li>


<li id="fo1li29" class="rightHalf    ">
	<%= f.label :contact1_position, "Your Position", :class => "desc" %>
	<div><%= f.text_field :contact1_position, :class => "field text medium" %></div>
	<p class="instruct" id="instruct29"><small>Are you a librarian, teacher, PTA/O person, Principal,
		A.P/V.P., 	etc...?</small></p>
</li>

<li id="fo1li32" class="leftHalf    ">
	<%= f.label :contact1_phone, "Your Phone Number at School", :class => "desc" %>
	<div><%= f.text_field :contact1_phone, :class => "field text", :size => 12 %>
	<p class="instruct" id="instruct32"><small>(xxx)-xxx-xxxx<br/>Don't forget to include your extension, if applicable!</small></p>
</li>

<li id="fo1li33" class="rightHalf    ">
	<%= f.label :contact1_altphone, "Alternate Phone Number", :class => "desc" %>
	<div><%= f.text_field :contact1_altphone, :class => "field text", :size => 12 %>
	<p class="instruct" id="instruct33"><small>(xxx)-xxx-xxxx<br/>Don't forget to include your extension, if applicable!</small></p>
</li>

<li id="fo1li34" class="    ">
	<%= f.label :contact1_fax, "School Fax Number", :class => "desc" %>
	<div><%= f.text_field :contact1_fax, :class => "field text", :size => 12 %></div>
	<p class="instruct" id="instruct34"><small>(xxx)-xxx-xxxx</small></p>
</li>

<li id="fo1li35" class="leftHalf    ">
	<%= f.label :contact1_email, "Your E-mail", :class => "desc" %>
	<div><%= f.text_field :contact1_email, :class => "field text medium" %></div>
	<p class="instruct" id="instruct35"><small>This is how we get back to you! Make sure it's exactly right!  <br />
	NOTE: Do not input websites or anything other than an email addy! </small></p>
</li>


<li id="fo1li36" class="rightHalf    ">
	<%= f.label :contact1_email_confirmation, "Confirm E-mail", :class => "desc" %>
	<div><%= f.text_field :contact1_email_confirmation, :class => "field text medium" %></div>
	<p class="instruct" id="instruct36"><small>Enter it twice for verification!</small></p>	
</li>

<!-- End Primary -->

<li id="fo1li39" class="section     ">
	<h3 id="title39">Secondary Contact</h3>
	<div id="instruct39">The Secondary Contact Person must be someone other than yourself!<br />
		<br />
		If you are a librarian, teacher, PTA/O parent, etc., then please provide contact info. 
		for an additional person who will know what's going on and/or be helping you out with the event.<br />
		<br />
		If you are a Principal, V.P., or Assistant Principal, then you must provide the contact info. 
		for the person who will actually be responsible for coordinating all preparations.<br />
	</div>
</li>

<!-- Secondary Contact -->

<li id="fo1li37" class="leftHalf    ">
	<label class="desc">Primary Contact Person</label>
	<span>
		<%= f.text_field :contact2_first, :class => "field text", :size => 8 %>
		<%= f.label :contact2_first, "First" %>
	</span>
	<span>
		<%= f.text_field :contact2_last, :class => "field text", :size => 14 %>
		<%= f.label :contact2_last, "Last" %>
	</span>
	<p class="instruct" id="instruct37"><small><b>Do Not list same person as Primary Contact! </b><br />
	This is the person who will working with you to coordinate the event.<br /></small></p>
</li>


<li id="fo1li40" class="rightHalf    ">
	<%= f.label :contact2_position, "Their Position", :class => "desc" %>
	<div><%= f.text_field :contact2_position, :class => "field text medium" %></div>
	<p class="instruct" id="instruct40"><small>Are you a librarian, teacher, PTA/O person, Principal,
		A.P/V.P., 	etc...?</small></p>
</li>

<li id="fo1li41" class="leftHalf    ">
	<%= f.label :contact2_phone, "Their Phone Number at School", :class => "desc" %>
	<div><%= f.text_field :contact2_phone, :class => "field text", :size => 12 %>
	<p class="instruct" id="instruct41"><small>(xxx)-xxx-xxxx<br/>Don't forget to include your extension, if applicable!</small></p>
</li>

<li id="fo1li42" class="rightHalf    ">
	<%= f.label :contact2_altphone, "Alternate Phone Number", :class => "desc" %>
	<div><%= f.text_field :contact2_altphone, :class => "field text", :size => 12 %>
	<p class="instruct" id="instruct42"><small>(xxx)-xxx-xxxx<br/>Don't forget to include your extension, if applicable!</small></p>
</li>


<li id="fo1li43" class="leftHalf    ">
	<%= f.label :contact2_email, "E-mail", :class => "desc" %>
	<div><%= f.text_field :contact2_email, :class => "field text medium" %></div>
	<p class="instruct" id="instruct43"><small>This is how we get back to you! Make sure it's exactly right!  <br />
	NOTE: Do not input websites or anything other than an email addy! </small></p>
</li>


<li id="fo1li44" class="rightHalf    ">
	<%= f.label :contact2_email_confirmation, "Confirm E-mail", :class => "desc" %>
	<div><%= f.text_field :contact2_email_confirmation, :class => "field text medium" %></div>
	<p class="instruct" id="instruct44"><small>Enter it twice for verification!</small></p>	
</li>


<!-- End Secondary -->


<li id="fo1li45" class="section     ">
<h3 id="title45">School's Address</h3>
<div id="instruct45">The preparation packet will be mailed here and it's the address used for directions to the school.</div>
</li>


<li id="fo1li46" class="    ">
	<label class="desc" id="title46">Mailing Address</label>
	<div class="block">
		<span class="full">
			<%= f.text_field :school_mail_address1, :class => "field text addr" %>
			<%= f.label :school_mail_address1, "Street Address" %>
		</span>
		<span class="full">
			<%= f.text_field :school_mail_address2, :class => "field text addr" %>
			<%= f.label :school_mail_address2, "Street Address Continued" %>
		</span>
		<span class="full">
			<%= f.text_field :school_mail_city, :class => "field text addr" %>
			<%= f.label :school_mail_city, "City" %>
		</span>
		<span class="full">
			<%= f.text_field :school_mail_state, :class => "field text addr" %>
			<%= f.label :school_mail_state, "State / Province / Region" %>
		</span>
		<span class="full">
			<%= f.text_field :school_mail_zipcode, :class => "field text addr", :size => 15 %>
			<%= f.label :school_mail_zipcode, "Postal / Zip Code" %>
		</span>
		<span class="full">
			<%= f.select :school_mail_country, COUNTRIES %>
			<%= f.label :school_mail_country, "Country" %>
		</span>
	</div>
	<p class="instruct" id="instruct46"><small>Where all your mail goes!  If your school is in a different location, then also complete the 'Physical Address' below!</small></p>
</li>


<li id="fo1li52" class="    ">
	<label class="desc" id="title52">Physical Address <small>(if different from mailing address)</small></label>
	<div class="block">
		<span class="full">
			<%= f.text_field :school_phys_address1, :class => "field text addr" %>
			<%= f.label :school_phys_address1, "Street Address" %>
		</span>
		<span class="full">
			<%= f.text_field :school_phys_address2, :class => "field text addr" %>
			<%= f.label :school_phys_address2, "Street Address Continued" %>
		</span>
		<span class="full">
			<%= f.text_field :school_phys_city, :class => "field text addr" %>
			<%= f.label :school_phys_city, "City" %>
		</span>
		<span class="full">
			<%= f.text_field :school_phys_state, :class => "field text addr" %>
			<%= f.label :school_phys_state, "State / Province / Region" %>
		</span>
		<span class="full">
			<%= f.text_field :school_phys_zipcode, :class => "field text addr", :size => 15 %>
			<%= f.label :school_phys_zipcode, "Postal / Zip Code" %>
		</span>
		<span class="full">
			<%= f.select :school_phys_country, COUNTRIES %>
			<%= f.label :school_phys_country, "Country" %>
		</span>
	</div>
	<p class="instruct" id="instruct52"><small>How we find your school on a GPS and map!</small></p>
</li>


<li id="fo1li106" class="    ">
	<%= f.label :school_county, "What state COUNTY (not countRy) is your school in?", :class => "desc" %>
	<div><%= f.text_field :school_county, :class => "field text large" %></div>
	<p class="instruct" id="instruct106"><small>This helps us keep requests organized!</small></p>
</li>

<li id="fo1li59" class="    ">
	<%= f.label :school_district, "What is the name of your school district?", :class => "desc" %>
	<div><%= f.text_field :school_district, :class => "field text large" %></div>
	<p class="instruct" id="instruct59"><small>This helps us keep requests organized!</small></p>
</li>

<li id="fo1li60" class="section     ">
	<h3 id="title60">Event Information</h3>
	<div id="instruct60">Check your district &amp; school calendars and our blackout dates in the 
		<a href="/schools/dates-available/" target="_blank">'School Visit Dates Available'</a>
		section. MONDAYS and FRIDAYS ARE AVAILABLE for schools arranging multi-school visits!<br />
		<br />
		Please select 'Preferred Dates' and 'Additional Dates' from the 
		<a href="/schools/dates-available/" target="_blank">'School Visit Dates Available'</a> page. <br />
		Your school must be in session 2 weeks before and at least 1 week after Mr. Mike's visit.
	</div>
</li>


<li id="fo1li142" class="leftHalf    ">
	<%= f.label :winter_break_start, "When is your Winter Break? <br />School is out on:", :class => "desc" %>
	<% my_date(f, :winter_break_start) %>
	<p class="instruct" id="instruct142"><small>Mr. Mike cannot visit during the week just before you leave for Winter Break.</small></p>
</li>


<li id="fo1li141" class="rightHalf    ">
	<%= f.label :winter_break_end, "When is your Winter Break? <br />School is back in session on:", :class => "desc" %>
	<% my_date(f, :winter_break_end) %>
	<p class="instruct" id="instruct141"><small>Mr. Mike can visit at least 2 weeks after this date.</small></p>
</li>


<li id="fo1li143" class="leftHalf    ">
	<%= f.label :spring_break_start, "When is your Spring Break? <br />School is out on:", :class => "desc" %>
	<% my_date(f, :spring_break_start) %>
	<p class="instruct" id="instruct143"><small>Mr. Mike cannot visit during the week just before you leave for Spring Break.</small></p>
</li>


<li id="fo1li144" class="rightHalf    ">
	<%= f.label :spring_break_end, "When is your Spring Break? <br />School is back in session on:", :class => "desc" %>
	<% my_date(f, :spring_break_end) %>

	<p class="instruct" id="instruct144"><small>Mr. Mike can visit at least 2 weeks after this date.</small></p>
</li>


<li id="fo1li145" class="    ">
	<%= f.label :last_school_date, "When is your last day of school?", :class => "desc" %>
	<% my_date(f, :last_school_date) %>

	<p class="instruct" id="instruct145"><small>The last 3 weeks of the school year are not a good time for Mr. Mike's visit.</small></p>
</li>

<!-- Preferred Dates -->

<li id="fo1li64" class="leftHalf    ">
	<%= f.label :preferred_date1, 'Preferred Date #1', :class => "desc" %>
	<% my_date(f, :preferred_date1) %>

	<p class="instruct" id="instruct64"><small>We try to work with your Preferred Dates, however your school
		has a better chance of getting a visit if you also indicate Additional Dates. 
		If you're flexible, you can list even more dates in the text box at the end of this form.</small></p>
</li>

<li id="fo1li62" class="rightHalf    ">
	<%= f.label :preferred_date2, 'Preferred Date #2', :class => "desc" %>
	<% my_date(f, :preferred_date2) %>

</li>

<li id="fo1li63" class="leftHalf    ">
	<%= f.label :preferred_date3, 'Preferred Date #3', :class => "desc" %>
	<% my_date(f, :preferred_date3) %>

</li>

<li id="fo1li109" class="rightHalf    ">
	<%= f.label :preferred_date4, 'Preferred Date #4', :class => "desc" %>
	<% my_date(f, :preferred_date4) %>

</li>

<!-- Additional Dates -->

<li id="fo1li61" class="leftHalf    ">
	<%= f.label :alternate_date1, 'Alternate Date #1', :class => "desc" %>
	<% my_date(f, :alternate_date1) %>

</li>

<li id="fo1li65" class="rightHalf    ">
	<%= f.label :alternate_date2, 'Alternate Date #2', :class => "desc" %>
	<% my_date(f, :alternate_date2) %>

</li>

<li id="fo1li66" class="leftHalf    ">
	<%= f.label :alternate_date3, 'Alternate Date #3', :class => "desc" %>
	<% my_date(f, :alternate_date3) %>

</li>

<li id="fo1li110" class="rightHalf    ">
	<%= f.label :alternate_date4, 'Alternate Date #4', :class => "desc" %>
	<% my_date(f, :alternate_date4) %>

</li>

<!-- Backup dates -->

<li id="fo1li111" class="leftHalf    ">
	<%= f.label :backup_date1, 'Backup Date #1', :class => "desc" %>
	<% my_date(f, :backup_date1) %>

</li>

<li id="fo1li114" class="rightHalf    ">
	<%= f.label :backup_date2, 'Backup Date #2', :class => "desc" %>
	<% my_date(f, :backup_date2) %>

</li>

<li id="fo1li113" class="leftHalf    ">
	<%= f.label :backup_date3, 'Backup Date #3', :class => "desc" %>
	<% my_date(f, :backup_date3) %>

</li>

<li id="fo1li112" class="rightHalf    ">
	<%= f.label :backup_date4, 'Backup Date #4', :class => "desc" %>
	<% my_date(f, :backup_date4) %>

</li>

<li id="fo1li116" class="    ">
	<%= f.label :date_comments, "Date Comments" %>
	<div><%= f.text_area :date_comments, :cols => 50, :rows => 10, :class => "field textarea small" %></div>
	<p class="instruct" id="instruct116"><small>Is there anything you'd like us to know about the dates 
		you've indicated, like special situations, special events, etc...?</small></p>
</li>

<!-- Assembly Times -->

<li id="fo1li95" class="section     ">
	<h3 id="title95">Assembly Start Times</h3>
	<div id="instruct95">If your school is small and all students can fit into one room, then Mr. Mike will 
		do 1 assembly. <br />
		Larger schools should schedule 2 assemblies.<br />
		3 assemblies are only for very large schools and will only be considered based on very high 
		enrollment.
	</div>
</li>

<li id="fo1li70" class="    ">
	<%= f.label :assembly_time1, 'Assembly #1', :class => "desc" %>
	<%= f.time_select :assembly_time1 %>
	<p class="instruct" id="instruct70"><small>Mr. Mike needs 1 hour per assembly AND at least a 15 minute break 
		in between if there are 2 or more assemblies. <br />
		<br />
		9:30 a.m. or later is the earliest start time for single school visits. If your school is part of a
		multi-school tour, then assemblies CAN sometimes start as earlier.<br />
		<br />
		<b>Examples</b><br />
		This works: 10:00 a.m. and 11:15 a.m. because it allows 1 hour per assembly (10:00 to 11:00 and 
		11:15 to 12:15) AND a 15 minute break (11:00 - 11:15) <br />
		<br />
		This doesn't work: 9:00, 9:45, 10:45 because there isn't an hour for each assembly and no breaks are
		scheduled and 9:30 a.m. is earliest start time.</small></p>
</li>


<li id="fo1li72" class="    ">
	<label class="desc" id="title72" for="Field72">
	<%= f.label :assembly_time2, 'Assembly #2', :class => "desc" %>
	<%= f.time_select :assembly_time2 %>
	<p class="instruct" id="instruct72">
		<small>Mr. Mike needs 1 hour per assembly AND at least a 15 minute break in between if there are 2 
		or more assemblies. <br />
		<br />
		9:30 a.m. or later is the earliest start time for single school visits. If you school is part of 
		a multi-school tour, then assemblies CAN start earlier, if you need them to!<br />
		<br />
		<b>Examples</b><br />
		This works: 10:00 a.m. and 11:15 a.m. because it allows 1 hour per assembly (10:00 to 11:00 and 11:15 
		to 12:15) AND a 15 minute break (11:00 - 11:15) <br />
		<br />
		This doesn't work: 9:00, 9:45, 10:45 because there isn't an hour for each assembly and no breaks 
		are scheduled and 9:30 a.m. is earliest start time.</small></p>
</li>


<li id="fo1li71" class="    ">
	<%= f.label :assembly_time2, 'Assembly #3 <small>(Only for very large schools)</small>', :class => "desc" %>
	<%= f.time_select :assembly_time2 %>
	<p class="instruct" id="instruct71"><small>Assembly #3 option is available only for very large schools 
		that can't fit all students into 2 assemblies OR for schools that have a very small assembly area. 
		Sorry, Mr. Mike is not available for more than 3 assemblies.</small></p>
</li>


<li id="fo1li80" class="    ">
	<%= f.label :assembly_location, 'The indoors only assembly(ies) will be in the', :class => "desc" %>
	<%= f.radio_button :assembly_location, "Auditorium" %>
		<label class="choice">Auditorium</label>
	<%= f.radio_button :assembly_location, "Multi-Purpose Room" %>
		<label class="choice">Multi-Purpose Room</label>
	<%= f.radio_button :assembly_location, "Other", 
		:onmouseup => "document.getElementById('request_assembly_location').focus();" %>
		<label class="choice">Other</label>
	<%= f.text_field :assembly_location, :class => "field text", 
		:onclick => "document.getElementById('request_assembly_location_other').checked = 'checked';" %>
		<p class="instruct" id="instruct80"><small>The last 20 minutes or so of the assembly hour is a book 
			signing, so most students won't be seated at that time;   If the custodian needs to set up the 
			room for something - it shouldn't be a problem - we'll all be right up front at the table. </small></p>
</li>

<!-- Inclement Weather Plan -->

<li id="fo1li97" class="section     ">
	<h3 id="title97">Inclement Weather Plan - RAIN or FOG - The Show Must Go On!</h3>
	<div id="instruct97">This is an important consideration since Mr. Mike will probably be in your area 
		for a tour and you'll want to have a back up plan just in case the weather isn't as happy to see 
		him as you are!<br />
		You can find more information about bad weather options in the Schools section.
	</div>
</li>


<li id="fo1li98" class="    ">
	<%= f.label :inclement_lunchroom?, 'Is the room Mr. Mike will be in also used for lunch or other 
		activities during inclement weather?', :class => "desc" %>
	<%= f.radio_button :inclement_lunchroom?, true %>
		<label class="choice">Yes</label>
	<%= f.radio_button :inclement_lunchroom?, false %>
		<label class="choice">No</label>
		<p class="instruct" id="instruct98"><small>Mr. Mike's 'stuff' is all set up at the front of the room.
			In most cases, lunch tables can be brought down without having to move anything.</small></p>
</li>


<li id="fo1li101" class="    ">
	<%= f.label :inclement_plan, "If yes, what's your plan for inclement weather?" %>
	<div><%= f.text_area :inclement_plan, :cols => 50, :rows => 10, :class => "field textarea small" %></div>
	<p class="instruct" id="instruct101"><small>Usually, we can make minor schedule adjustments and still 
		be able to have the assemblies.  In extreme situations, the book signing table will be set up in the 
		library and we 'make the best' of whatever the weather dictates... but this is rare.</small></p>
</li>

<li id="fo1li103" class="    ">
	<%= f.label :school_prone_weather_delays?, "Is your school prone to schedule changes due to fog or other 
		weather during the time of Mr. Mike's visit?", :class => "desc" %>
	<%= f.radio_button :school_prone_weather_delays?, true %>
		<label class="choice">Yes</label>
	<%= f.radio_button :school_prone_weather_delays?, false %>
		<label class="choice">No</label>
	<p class="instruct" id="instruct103"><small>If Mr. Mike will be visiting during a time of year when school 
		buses are often delayed - let us know!  <br />
		It's better to figure this out now than later.</small></p>
</li>


<li id="fo1li102" class="    ">
	<%= f.label :weather_delay_plan, "If yes, what's your plan in the event of delays?" %>
	<div><%= f.text_area :weather_delay_plan, :cols => 50, :rows => 10, :class => "field textarea small" %></div>
	<p class="instruct" id="instruct102"><small>In these situations where there just aren't any students at 
		the school until a delayed time, we can set up the book signing table in the library and Mr. Mike 
		can visit a few classes... again, we make the best of it!</small></p>
</li>

<!-- Lunch with Mr. Mike -->

<li id="fo1li73" class="section     ">
	<h3 id="title73">Lunch with Mr. Mike</h3>
	<div id="instruct73">An informal lunch for students.  See the 
		<a href="/schools/lunch-with-mr-mike/" target="_blank">'Lunch with Mr. Mike'</a> page for more info.
	</div>
</li>


<li id="fo1li74" class="    ">
	<%= f.label :lunch_with_mike?, "Are you requesting 'Lunch With Mr. Mike' for a group of about 25 STUDENTS?",
		:class => "desc" %>
	<%= f.radio_button :lunch_with_mike?, true %>
		<label class="choice">Yes</label>
	<%= f.radio_button :lunch_with_mike?, false %>
		<label class="choice">No</label>
	<p class="instruct" id="instruct74"><small>Please Note: This event is for STUDENTS </small></p>
</li>


<li id="fo1li78" class="leftHalf    ">
	<%= f.label :lunch_start, 'If YES, what time will it start?', :class => "desc" %>
	<%= f.date_select :lunch_start %>	
	<p class="instruct" id="instruct78"><small>Allow a minimum 15 min.  break after the end of the
		assembly.</small></p>
</li>


<li id="fo1li77" class="rightHalf    ">
	<%= f.label :lunch_end, 'What time will it end?', :class => "desc" %>
	<%= f.date_select :lunch_end %>		
	<p class="instruct" id="instruct77"><small>About 45 minutes is good.</small></p>
</li>


<li id="fo1li79" class="    ">
	<%= f.label :lunch_room, 'What room in your school will the lunch be held?', :class => "desc" %>
	<%= f.text_field :lunch_room, :class => "field text medium" %>
	<p class="instruct" id="instruct79"><small>Choose a quite place like a library or other room away from 
		all the hussle and bustle.</small></p>
</li>

<!-- Important questions -->
<li id="fo1li82" class="section     ">
	<h3 id="title82">Important Questions</h3>
	<div id="instruct82">Please answer 'Yes' or 'No' to the following questions.</div>
</li>


<li id="fo1li83" class="    ">
<label class="desc" id="title83" for="Field83">
	<%= f.label :book_fair_too_soon, "Are you having a book fair within one month BEFORE or DURING Mr. Mike’s visit?
	 <small>(Mr. Mike can visit before a book fair, but NOT within 1 month after.)</small>", :class => "desc" %>
	<div class="col">
		<%= f.radio_button :book_fair_too_soon, "yes" %>
		<label class="choice">Yes</label>	
		<%= f.radio_button :book_fair_too_soon, "no" %>
		<label class="choice">No</label>
	</div>
	<p class="instruct" id="instruct83"><small>This is important because book sales during Mr. Mike's visit are
		affected if you have just recently had a book fair. This is especially important if you are requesting
		a FREE event where book sales are supplementing the regular fee, travel &amp; 
		accommodations!<br/></small></p>
</li>

<li id="fo1li84" class="    ">
	<%= f.label :read_school_info, 'Have you read all the info. in the 
		<a href="/schools/" target="_blank">Schools</a> section?<br />
		<small>(If \'no\' then please read all the info. before submitting.)</small>', :class => "desc" %>
		<div class="col">
			<%= f.radio_button :read_school_info, "yes" %>
			<label class="choice">Yes</label>	
			<%= f.radio_button :read_school_info, "no" %>
			<label class="choice">No</label>
		</div>
		<p class="instruct" id="instruct84"><small>This is important because we want to ensure that you are fully
			informed before you make a request. Sometimes people come straight to this form and don't bother 
			to read the important stuff. The more you know now, the easier it will be to secure a date and 
			prepare for Mr. Mike's visit!<br />
		</small></p>
</li>


<li id="fo1li86" class="    ">
	<%= f.label :dates_okay, "Are the dates o.k.'d with your Principal and everyone who needs to know? 
		Or, if you are the Principal, V.P., or Assistant Principal, have you provided the 
		'Secondary Contact Person' information for the person who will be organizing the event?<br />
		<small>(If 'no' then please wait on submitting this form until you've cleared the dates and 
		provided the 'Secondary Contact Person' information.)</small>", :class => "desc" %>
		<div class="col">
			<%= f.radio_button :dates_okay, "yes" %>
			<label class="choice">Yes</label>	
			<%= f.radio_button :dates_okay, "no" %>
			<label class="choice">No</label>
		</div>
		<p class="instruct" id="instruct86"><small>This is important because there have been times when
			administrators were not informed of a request.<br />
			<br />
			There have also been times when administrators didn't enroll the help of others and were not 
			able to prepare adequately... so, things did not go well. <br /></small></p>
</li>


<li id="fo1li87" class="    ">
	<%= f.label :students_will_show, "Have you confirmed that ALL GRADE LEVELS and ALL CLASSES will attend and that 
		your school IS IN SESSION two weeks BEFORE AND the week AFTER Mr. Mike's visit? 
		<small>(If 'no' then change the dates to when ALL students will be there and when your school will be
		 in session 2 weeks before and 1 week after Mr. Mike's visit.)</small>", :class => "desc" %>
		<div class="col">
			<%= f.radio_button :students_will_show, "yes" %>
			<label class="choice">Yes</label>	
			<%= f.radio_button :students_will_show, "no" %>
			<label class="choice">No</label>
		</div>
		<p class="instruct" id="instruct87"><small>This is important because Mr. Mike has arrived at schools 
			ready to meet everyone only to be told that entire grade levels were out on a field trip or that 
			it was decided at the last minute that certain classes wouldn't attend!  Yikes!</small></p>
</li>

<li id="fo1li88" class="    ">
	<%= f.label :will_prep, "Will you, your school and PTA/O follow through with all preparations necessary 
		to put on a great event and be ready for Mr. Mike when he arrives? Cross your heart!<br />
		<small>(If 'no' then please wait on submitting a request until you have checked in with your PTA/O 
		and feel comfortable with your school's ability to prepare for a visiting author.)</small>", 
		:class => "desc" %>
		<div class="col">
			<%= f.radio_button :will_prep, "yes" %>
			<label class="choice">Yes</label>	
			<%= f.radio_button :will_prep, "no" %>
			<label class="choice">No</label>
		</div>	
		<p class="instruct" id="instruct88"><small>This is important because Mr. Mike travels long distances to 
			visit schools and wants/needs! to feel appreciated - just like everybody else!!! Your absolute 
			guarantee to be really, really prepared is required!!!</small></p>
</li>


<li id="fo1li108" class="    ">
	<%= f.label :had_writing_program?, "Have your students ever participated in a school-wide writing program 
		such as poetry writing, publishing their own books, etc.?", :class => "desc" %>
		<div class="col">
			<%= f.radio_button :had_writing_program?, true %>
			<label class="choice">Yes</label>	
			<%= f.radio_button :had_writing_program?, false %>
			<label class="choice">No</label>
		</div>
		<p class="instruct" id="instruct108"><small>It's helpful for us to know what your school's experience 
			with writing has been!</small></p>
</li>

<!-- Coordinating w/ Other Schools -->

<li id="fo1li90" class="section     ">
	<h3 id="title90">For Schools Coordinating with Other Schools</h3>
	<div id="instruct90">If your school is not in O.C., S.D., L.A., Riverside, Imperial, San Bern. counties 
		in California, then you must indicate all the schools you're coordinating with. <br />
		(Note: outlying areas of L.A., R., Imp., SanB., counties may require 2 schools - we'll let you know.) <br />
		<br />
		Here's the minimum # schools breakdown for California:<br />
		<br />
		<b>Southern Desert Areas: 2 schools<br />
			Most of Central Valley: 4 schools<br />
			Southern Coastal: 3 schools<br />
			ALL Northern: 5 schools</b><br />
		<br />
		Dates will be scheduled once we have forms from ALL the schools you're coordinating with. 
		It is not unusual for the minimum # of schools to be exceeded quickly and we end up booking an entire 
		week in an area that might only have a minimum of 2 schools required, which is fine. Once schools start 	
		coordinating, other schools often want to get on board. All schools interested should submit and this 
		Assembly Request Form, as we may be able to start working on filling a second week for your area - 
		if it gets to that point.<br />
		<br />
		Indicate DATE, NAME OF SCHOOL, CONTACT PERSON that you are coordinating with. This helps us know who 
		we should be keeping an eye out for. It does not mean that we will initiate contacting them - they need 
		will be responsible for initiating the request.  If you need to check back with us, we'll be able to 
		tell you who got their forms in and who hasn't.<br />
		<br />
		EXAMPLE:<br />
		Mon, March 4 - Lotsafun Elmentary - Ima Goodreader - Library - email@school.edu<br />
		Tue, March 5 - Lakewood Elementary - Jenny SoAndSo - PTA - email@school.edu<br />
		Wed, March 6 - Sunrise Elementary - Bill CoolGuy - Principal - email@school.edu<br />
		Thur, March 7 - Railroad Elementary - Doris ILikeBooks - Library - email@school.edu<br />
		Fri, March 8 - Surfsup Elementary - Mrs. SurferGal - Teacher  - email@school.edu<br />
	</div>
</li>

<!-- Monday -->

<li id="fo1li127" class="    ">
	<%= f.label :monday_date, "Monday Visit Date", :class => "desc" %>
	<%= f.date_select :monday_date %>
</li>


<li id="fo1li133" class="leftHalf    ">
	<%= f.label :monday_school, "Monday School Name", :class => "desc" %>
	<%= f.text_field :monday_school, :class => "field text medium" %>
</li>

<li id="fo1li131" class="rightHalf    ">
	<label class="desc">Monday School Contact's Name</label>
	<span>
		<%= f.text_field :monday_contact_first, :class => "field text", :size => 8 %>
		<%= f.label :monday_contact_first, "First" %>
	</span>
	<span>
		<%= f.text_field :monday_contact_last, :class => "field text", :size => 14 %>
		<%= f.label :monday_contact_last, "Last" %>
	</span>
</li>


<li id="fo1li151" class="leftHalf    ">
	<%= f.label :monday_contact_title, "Monday School Contact's Title", :class => "desc" %>
	<%= f.text_field :monday_contact_title, :class => "field text medium" %>
</li>


<li id="fo1li138" class="rightHalf    ">
		<%= f.label :monday_contact_email, "Monday School Contact's E-mail", :class => "desc" %>
		<%= f.text_field :monday_contact_email, :class => "field text medium" %>
</li>


<!-- Tuesday -->

<li id="fo1li127" class="    ">
	<%= f.label :tuesday_date, "Tuesday Visit Date", :class => "desc" %>
	<%= f.date_select :tuesday_date %>
</li>


<li id="fo1li133" class="leftHalf    ">
	<%= f.label :tuesday_school, "Tuesday School Name", :class => "desc" %>
	<%= f.text_field :tuesday_school, :class => "field text medium" %>
</li>

<li id="fo1li131" class="rightHalf    ">
	<label class="desc">Tuesday School Contact's Name</label>
	<span>
		<%= f.text_field :tuesday_contact_first, :class => "field text", :size => 8 %>
		<%= f.label :tuesday_contact_first, "First" %>
	</span>
	<span>
		<%= f.text_field :tuesday_contact_last, :class => "field text", :size => 14 %>
		<%= f.label :tuesday_contact_last, "Last" %>
	</span>
</li>


<li id="fo1li151" class="leftHalf    ">
	<%= f.label :tuesday_contact_title, "Tuesday School Contact's Title", :class => "desc" %>
	<%= f.text_field :tuesday_contact_title, :class => "field text medium" %>
</li>


<li id="fo1li138" class="rightHalf    ">
		<%= f.label :tuesday_contact_email, "Tuesday School Contact's E-mail", :class => "desc" %>
		<%= f.text_field :tuesday_contact_email, :class => "field text medium" %>
</li>


<!-- Wednesday -->

<li id="fo1li127" class="    ">
	<%= f.label :wednesday_date, "Wednesday Visit Date", :class => "desc" %>
	<%= f.date_select :wednesday_date %>
</li>


<li id="fo1li133" class="leftHalf    ">
	<%= f.label :wednesday_school, "Wednesday School Name", :class => "desc" %>
	<%= f.text_field :wednesday_school, :class => "field text medium" %>
</li>

<li id="fo1li131" class="rightHalf    ">
	<label class="desc">Wednesday School Contact's Name</label>
	<span>
		<%= f.text_field :wednesday_contact_first, :class => "field text", :size => 8 %>
		<%= f.label :wednesday_contact_first, "First" %>
	</span>
	<span>
		<%= f.text_field :wednesday_contact_last, :class => "field text", :size => 14 %>
		<%= f.label :wednesday_contact_last, "Last" %>
	</span>
</li>


<li id="fo1li151" class="leftHalf    ">
	<%= f.label :wednesday_contact_title, "Wednesday School Contact's Title", :class => "desc" %>
	<%= f.text_field :wednesday_contact_title, :class => "field text medium" %>
</li>


<li id="fo1li138" class="rightHalf    ">
		<%= f.label :wednesday_contact_email, "Wednesday School Contact's E-mail", :class => "desc" %>
		<%= f.text_field :wednesday_contact_email, :class => "field text medium" %>
</li>


<!-- Thursday -->

<li id="fo1li127" class="    ">
	<%= f.label :thursday_date, "Thursday Visit Date", :class => "desc" %>
	<%= f.date_select :thursday_date %>
</li>


<li id="fo1li133" class="leftHalf    ">
	<%= f.label :thursday_school, "Thursday School Name", :class => "desc" %>
	<%= f.text_field :thursday_school, :class => "field text medium" %>
</li>

<li id="fo1li131" class="rightHalf    ">
	<label class="desc">Thursday School Contact's Name</label>
	<span>
		<%= f.text_field :thursday_contact_first, :class => "field text", :size => 8 %>
		<%= f.label :thursday_contact_first, "First" %>
	</span>
	<span>
		<%= f.text_field :thursday_contact_last, :class => "field text", :size => 14 %>
		<%= f.label :thursday_contact_last, "Last" %>
	</span>
</li>


<li id="fo1li151" class="leftHalf    ">
	<%= f.label :thursday_contact_title, "Thursday School Contact's Title", :class => "desc" %>
	<%= f.text_field :thursday_contact_title, :class => "field text medium" %>
</li>


<li id="fo1li138" class="rightHalf    ">
		<%= f.label :thursday_contact_email, "Thursday School Contact's E-mail", :class => "desc" %>
		<%= f.text_field :thursday_contact_email, :class => "field text medium" %>
</li>




<!-- Big questions -->

<li id="fo1li92" class="section     ">
	<h3 id="title92">Almost Done!...</h3>
	<div id="instruct92">We receive lots of requests for visits from Mr. Mike!  <br />
		We'll pay close attention to your responses to ALL of the questions below.  <br />
		Please be as detailed as possible!<br />
	</div>
</li>

<li id="fo1li93" class="    ">
	<%= f.label :essay_visit_reason, "Why is your school requesting a visit from Mr. Mike?" %>
	<div><%= f.text_area :essay_visit_reason, :cols => 50, :rows => 10 %></div>
</li>

<li id="fo1li94" class="    ">
	<%= f.label :essay_visit_reason, "What do you hope to get out of it?" %>
	<div><%= f.text_area :essay_visit_reason, :cols => 50, :rows => 10 %></div>
</li>

<li id="fo1li95" class="    ">
	<%= f.label :essay_visit_reason, "What is your school's approach to writing?", :class => 'field textarea small' %>
	<div><%= f.text_area :essay_visit_reason, :cols => 50, :rows => 10 %></div>
</li>

<li id="fo1li122" class="    ">
	<%= f.label :essay_visit_reason, "How you feel about hosting Mr. Mike?", :class => 'field textarea small' %>
	<div><%= f.text_area :essay_visit_reason, :cols => 50, :rows => 10 %></div>
</li>

<li id="fo1li121" class="    ">
	<%= f.label :essay_visit_reason, "What are your plans for preparation?", :class => 'field textarea small' %>
	<div><%= f.text_area :essay_visit_reason, :cols => 50, :rows => 10 %></div>
</li>

<li id="fo1li120" class="    ">
	<%= f.label :essay_visit_reason, "How will your PTA/O be involved?", :class => 'field textarea small' %>
	<div><%= f.text_area :essay_visit_reason, :cols => 50, :rows => 10 %></div>
</li>

<li id="fo1li119" class="    ">
	<%= f.label :essay_visit_reason, "Is there anything else you'd like us to know?", :class => 'field textarea small' %>
	<div><%= f.text_area :essay_visit_reason, :cols => 50, :rows => 10 %></div>
</li>


<li class="buttons">
	<!-- Submit Button? -->
</li>

<li style="display:none">
	<label for="comment">Do Not Fill This Out</label>
	<textarea name="comment" id="comment" rows="1" cols="1"></textarea>
</li>

</ul>

