<%
# HTML for indicating in a label that a field is required
req_f = '<span class="req">*</span>'

# pre: f => form_for variable, field => ruby symbol corresponding to 
def my_date(f, field)
%>
	<span>
		<input id="<%= field.to_s %>-1" name="request[<%= field.to_s %>(2i)]" 
			type="text" class="field text" value="<%= @request.send(field).nil? ? "" : @request.send(field).month %>" size="2" maxlength="2" tabindex="59" /> 
		<label for="<%= field.to_s %>-1">MM</label>
	</span>
	<span>
		<input id="<%= field.to_s %>-2" name="request[<%= field.to_s %>(3i)]" 
			type="text" class="field text" value="<%= @request.send(field).nil? ? "" : @request.send(field).day %>" size="2" maxlength="2" tabindex="60" /> 
		<label for="<%= field.to_s %>-2">DD</label>
	</span>
	<span>
		<input id="<%= field.to_s %>" name="request[<%= field.to_s %>(1i)]" 
			type="text" class="field text" value="<%= @request.send(field).nil? ? "" : @request.send(field).year %>" size="4" maxlength="4" tabindex="61" />
		<label for="<%= field.to_s %>">YYYY</label>
	</span>
	<span id="cal_<%= field.to_s %>">
		<img id="pick_<%= field.to_s %>" class="datepicker" src="/images/icons/calendar.png" alt="Pick a date." />
	</span>
	<script type="text/javascript">
	Calendar.setup({
	inputField : "<%= field.to_s %>",
	displayArea  : "cal_<%= field.to_s %>",
	button : "pick_<%= field.to_s %>",
	ifFormat : "%B %e, %Y",
	onSelect : selectDate
	});
	</script>
<%	
end
%>

<div id="navbar" style="background-color: #eee; padding: 5px;">
	<%= link_to_function "General", "switch_tab('page_general');" %> |
	<%= link_to_function "Contact", "switch_tab('page_contact');" %> |
	<%= link_to_function "Dates", "switch_tab('page_dates');" %> |
	<%= link_to_function "Times", "switch_tab('page_times');" %> |
	<%= link_to_function "Questions", "switch_tab('page_questions');" %> |
	<%= link_to_function "Multi-School Visits", "switch_tab('page_multisite');" %> |
	<%= link_to_function "Comments", "switch_tab('page_comments');" %>	
</div>

<!-- <div id="mpform_container" style="postion: relative;"> -->
<div id="mpform_container" style="postion: relative;">

<!-- <div id="page_general" style="position: absolute; top: 0px; left: 0px;"> -->	
	<div id="page_general" class="form_tab">	

		<%= render :partial => 'form_general', :locals => { :f => f, :req_f => req_f } %>
		<p>
			<%= button_to_function "Next", "switch_tab('page_contact');" %>
		</p>
	</div>


	<div id="page_contact" style="display: none;" class="form_tab">	
		<%= render :partial => 'form_contact', :locals => { :f => f } %>
		<p>
			<%= button_to_function "Prev", "switch_tab('page_general');" %>
			<%= button_to_function "Next", "switch_tab('page_dates');" %>
		</p>
	</div>

	<div id="page_dates" style="display: none;" class="form_tab">	
		<%= render :partial => 'form_dates', :locals => { :f => f } %>
		<p>
			<%= button_to_function "Prev", "switch_tab('page_contact');" %>
			<%= button_to_function "Next", "switch_tab('page_times');" %>
		</p>
	</div>
	
	<div id="page_times" style="display: none;" class="form_tab">	
		<%= render :partial => 'form_times', :locals => { :f => f } %>
		<p>
			<%= button_to_function "Prev", "switch_tab('page_dates');" %>
			<%= button_to_function "Next", "switch_tab('page_questions');" %>
		</p>
	</div>

	<div id="page_questions" style="display: none;" class="form_tab">	
		<%= render :partial => 'form_questions', :locals => { :f => f } %>
		<p>
			<%= button_to_function "Prev", "switch_tab('page_times');" %>
			<%= button_to_function "Next", "switch_tab('page_multisite');" %>
		</p>
	</div>

	<div id="page_multisite" style="display: none;" class="form_tab">	
		<%= render :partial => 'form_multisite', :locals => { :f => f } %>
		<p>
			<%= button_to_function "Prev", "switch_tab('page_questions');" %>
			<%= button_to_function "Next", "switch_tab('page_comments');" %>
		</p>
	</div>

	<div id="page_comments" style="display: none;" class="form_tab">	
		<%= render :partial => 'form_comments', :locals => { :f => f } %>
		<p>
			<%= button_to_function "Prev", "switch_tab('page_multisite');" %>
			<%= f.submit "Submit" %>
		</p>
	</div>

</div>

