<h3>Request Info</h3>
<h4><%=h @request.school %></h4>

<!-- General Info -->
<div class="infoblock">
	<p>
	  	<b>School:</b>
		<%=h @request.school %>
	</p>
	<!-- <p>
	  	Request <b>submitted</b> <%= time_ago_in_words(@request.created_at) %> ago
	</p>
	-->
	<p>
		<b>Grades:</b>
		<%=h "#{@request.starting_grade} - #{@request.ending_grade}" %>
	</p>
	<p>
		<b>Students:</b>
		<%=h @request.num_students %>
	</p>
	<p>
		<% case @request.assembly_type
		   when 1 %>
			<b>Public</b> School requesting a <b>free</b> visit for <b>all</b> students.
		<% when 2 %>
			<b>Public</b> School requesting a <b>fee-based</b> visit for <b>select</b> groups/grades.
		<% when 3 %>
			<b>Private</b> School requesting a <b>fee-based</b> visit for <b>all</b> students. 
		<% when 4 %>
			<b>Private</b> School requesting a <b>fee-based</b> visit for <b>select</b> groups/grades.
		<% end %>
	</p>
	<p>
		<% case @request.author_hosted 
		   when "yes" %>
		The school <b>has</b> hosted an author before.
		<% when "no" %>
		The school <b>has not</b> hosted an author before.
		<% end %>
	</p>
	<p>
		<% case @request.mike_hosted 
		   when "yes" %>
		Mr. Mike <b>has<b> visited before,
			<% if @request.mike_hosted_year %>
				in <%= @request.mike_hosted_year %>.
			<% else %>
				but the date is unknown.
			<% end %>
		<% when "no" %>
		Mr. Mike <b>has not</b> visited the school.
		<% end %>
	</p>
	
</div>

<!-- Contact Info -->
<!-- <div class="infoblock"> -->
<div>
	<table>
		<tr>
			<td valign="top">
				<b>Primary Contact: </b>
			</td>
			<td>
				<%=h "#{@request.contact1_first} #{@request.contact1_last}" %>
				(<%= link_to h(@request.contact1_email), "mailto:#{@request.contact1_email}" %>)
				<br/>
				<em><%=h @request.contact1_position %></em><br/>
				<%=h @request.contact1_phone %><br/>
				<%= h("#{@request.contact1_altphone}") + " alt <br/>" unless @request.contact1_altphone.blank? %>
				<%= h("#{@request.contact1_fax}") + " fax <br/>" unless @request.contact1_fax.blank? %>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<b>Secondary Contact: </b>
			</td>
			<td>
				<%=h "#{@request.contact2_first} #{@request.contact2_last}" %>
				(<%= link_to h(@request.contact2_email), "mailto:#{@request.contact2_email}" %>)
				<br/>
				<em><%= @request.contact2_position %></em><br/>
				<%=h @request.contact2_phone %><br/>
				<%= h("#{@request.contact2_altphone}") + " alt <br/>" unless @request.contact2_altphone.blank? %>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<% if @request.school_phys_address_same? %>
					<b>School Address:</b>
				<% else %>
					<b>School Mailing Address:</b>
				<% end %>
			</td>
			<td>
				<%=h @request.school_mail_address1 %><br/>
				<% unless @request.school_mail_address2.blank? %>
					<%=h @request.school_mail_address2 %><br/>
				<% end %>
				<%=h @request.school_mail_city %>, <%=h @request.school_mail_state %> <%=h @request.school_mail_zipcode %><br/>
				<%=h @request.school_mail_country %>
			</td>
		</tr>
		<% unless @request.school_phys_address_same? %>
		<tr>
			<td>
					<b>School Physical Address:</b>
			</td>
			<td>
				<%=h @request.school_phys_address1 %><br/>
				<% unless @request.school_phys_address2.blank? %>
					<%=h @request.school_phys_address2 %><br/>
				<% end %>
				<%=h @request.school_phys_city %>, <%=h @request.school_phys_state %> <%=h @request.school_phys_zipcode %><br/>
				<%=h @request.school_phys_country %>
			</td>
		</tr>
		<% end %>
		<tr>
			<td><b>School County:</b></td>
			<td><%=h @request.school_county %></td>
		</tr>
		<tr>
			<td><b>School District:</b></td>
			<td><%=h @request.school_district %></td>
		</tr>
		<tr>
			<td><b>School Principal:</b></td>
			<td><%=h @request.school_principal %></td>
		</tr>
		

	</table>
</div>

<!-- Dates -->
<div class="infoblock">
	<p>
		<b>School Year: </b><%=h "#{@request.first_school_date.strftime("%d/%m/%Y")} - #{@request.last_school_date.strftime("%d/%m/%Y")}" %>
	</p>
	<p>
		<b>Winter Break: </b><%=h "#{@request.winter_break_start.strftime("%d/%m/%Y")} - #{@request.winter_break_end.strftime("%d/%m/%Y")}" %>
	</p>
	<p>
		<b>Spring Break: </b><%=h "#{@request.spring_break_start.strftime("%d/%m/%Y")} - #{@request.spring_break_end.strftime("%d/%m/%Y")}" %>
	</p>
	<table width="100%">
		<tr>
			<td width="33%">
				<p>
					<b>Preferred Dates:</b>
					<br/>
					<%=h @request.preferred_date1.strftime("%d/%m/%Y") %><br/>
					<%=h @request.preferred_date2.strftime("%d/%m/%Y") %><br/>
					<%=h @request.preferred_date3.strftime("%d/%m/%Y") %><br/>
					<%=h @request.preferred_date4.strftime("%d/%m/%Y") %><br/>
				</p>
			</td>
			<td width="33%">
				<p>
					<b>Alternate Dates:</b>
					<br/>
					<%=h @request.alternate_date1.strftime("%d/%m/%Y") %><br/>
					<%=h @request.alternate_date2.strftime("%d/%m/%Y") %><br/>
					<%=h @request.alternate_date3.strftime("%d/%m/%Y") %><br/>
					<%=h @request.alternate_date4.strftime("%d/%m/%Y") %><br/>
				</p>
			</td>
			<td width="33%">
				<% if @request.backup_dates? %>
				<p>
					<b>Backup Dates:</b>
					<br/>
					<%=h @request.backup_date1.strftime("%d/%m/%Y") %><br/>
					<%=h @request.backup_date2.strftime("%d/%m/%Y") %><br/>
					<%=h @request.backup_date3.strftime("%d/%m/%Y") %><br/>
					<%=h @request.backup_date4.strftime("%d/%m/%Y") %><br/>
				</p>
				<% end %>
			</td>
		</tr>
	</table>
	<table>
		<tr>
			<td>
				<b>Date Comments:</b><br/>
				<%=h @request.date_comments %>	
			</td>
		</tr>
	</table>	
</div>

<!-- Times -->
<div class="infoblock">
	<p>
		<b>Assembly Times:</b> 
		<%=h "#{sprintf('%02d', @request.assembly_time1.hour)}:#{sprintf('%02d', @request.assembly_time1.min)}" %>
		<% if @request.assembly_time2 %>
			; <%=h "#{sprintf('%02d', @request.assembly_time2.hour)}:#{sprintf('%02d', @request.assembly_time2.min)}" %>
		<% end %>
		<% if @request.assembly_time3 %>		
			; <%=h "#{sprintf('%02d', @request.assembly_time3.hour)}:#{sprintf('%02d', @request.assembly_time3.min)}" %>
		<% end %>
	</p>
	<p>
		<b>Assembly Room:</b>: 
		<% if @request.assembly_location == "Other" %>
			Other: <%=h @request.assembly_location_other %>
		<% else %>
			<%=h @request.assembly_location %>
		<% end %>
	</p>
	<% if @request.inclement_lunchroom? %>
		<p>The room that Mr. Mike is in <b>WILL ALSO</b> be used for other activies during inclement weather.<br/>
			<em>Comments:</em><br/>
			<%=h @request.inclement_plan %>
		</p>
	<% end %>
	<% if @request.school_prone_weather_delays? %>
		<p>The school <b>is prone</b> to weather delays.<br/>
			<em>Comments:</em><br/>
			<%=h @request.weather_delay_plan %>
		</p>
	<% end %>
	<% if @request.lunch_with_mike? %>
		<p>The school <b>is requesting</b> lunch with Mr. Mike<br/>
			<b>Time:</b> <%=h "#{sprintf('%02d', @request.lunch_start.hour)}:#{sprintf('%02d', @request.lunch_start.min)} - #{sprintf('%02d', @request.lunch_end.hour)}:#{sprintf('%02d', @request.lunch_end.min)}" %><br/>
			<b>Room:</b> <%=h @request.lunch_room %>
		</p>
	<% else %>
		<p>The school <b>is not</b> requesting lunch with Mr. Mike</p>
	<% end %>
</div>

<!-- Multisite -->
<div class="infoblock">
	<h4>Multi-School Arrangements</h4>
	<table>
		<% if @request.monday_date %>
		<tr>
			<td><%=h @request.monday_date.strftime("%d/%m/%Y") %></td>
			<td><%=h @request.monday_school %></td>
			<td>
				<%=h "#{@request.monday_contact_first} #{@request.monday_contact_last}" %>
				(<%= link_to h(@request.monday_contact_email), "mailto:#{@request.monday_contact_email}" %>)
			</td>
			<td><%=h @request.monday_contact_title %></td>
		</tr>
		<% end %>
		<% if @request.tuesday_date %>
		<tr>
			<td><%=h @request.tuesday_date.strftime("%d/%m/%Y") %></td>
			<td><%=h @request.tuesday_school %></td>
			<td>
				<%=h "#{@request.tuesday_contact_first} #{@request.tuesday_contact_last}" %>
				(<%= link_to h(@request.tuesday_contact_email), "mailto:#{@request.tuesday_contact_email}" %>)
			</td>
			<td><%=h @request.tuesday_contact_title %></td>
		</tr>
		<% end %>
		<% if @request.wednesday_date %>
		<tr>
			<td><%=h @request.wednesday_date.strftime("%d/%m/%Y") %></td>
			<td><%=h @request.wednesday_school %></td>
			<td>
				<%=h "#{@request.wednesday_contact_first} #{@request.wednesday_contact_last}" %>
				(<%= link_to h(@request.wednesday_contact_email), "mailto:#{@request.wednesday_contact_email}" %>)
			</td>
			<td><%=h @request.wednesday_contact_title %></td>
		</tr>
		<% end %>
		<% if @request.thursday_date %>
		<tr>
			<td><%=h @request.thursday_date.strftime("%d/%m/%Y") %></td>
			<td><%=h @request.thursday_school %></td>
			<td>
				<%=h "#{@request.thursday_contact_first} #{@request.thursday_contact_last}" %>
				(<%= link_to h(@request.thursday_contact_email), "mailto:#{@request.thursday_contact_email}" %>)
			</td>
			<td><%=h @request.thursday_contact_title %></td>
		</tr>
		<% end %>
		<% if @request.friday_date %>
		<tr>
			<td><%=h @request.friday_date.strftime("%d/%m/%Y") %></td>
			<td><%=h @request.friday_school %></td>
			<td>
				<%=h "#{@request.friday_contact_first} #{@request.friday_contact_last}" %>
				(<%= link_to h(@request.friday_contact_email), "mailto:#{@request.friday_contact_email}" %>)
			</td>
			<td><%=h @request.friday_contact_title %></td>
		</tr>
		<% end %>
	</table>
			
</div>

<!-- Comments -->
<div class="infoblock">
	<p>
		<b>Why is your school requesting a visit from Mr. Mike?</b><br/>
		<%=h @request.essay_visit_reason %>
	</p>
	<p>
		<b>What do you hope to get out of it?</b><br/>
		<%=h @request.essay_hope_receive %>
	</p>
	<p>
		<b>What is your school's approach to writing?</b><br/>
		<%=h @request.essay_writing_approach %>
	</p>
	<p>
		<b>How you feel about hosting Mr. Mike?</b><br/>
		<%=h @request.essay_feel_about_mike %>
	</p>
	<p>
		<b>What are your plans for preparation?</b><br/>
		<%=h @request.essay_prep_plans %>
	</p>
	<p>
		<b>How will your PTA/O be involved?</b><br/>
		<%=h @request.essay_pta_involvement %>
	</p>
	<p>
		<b>Is there anything else you'd like us to know?</b><br/>
		<%=h @request.essay_other %>
	</p>

</div>

<hr />
<p>You received this e-mail because you are listed as a recipient of Beetle Bug Assembly Requests.  You may review these requests at <a href="http://beetlebug.funtaff.com/">this site</a>.</p>
