<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%
# Setup
  parent_root = "http://www.beetlebugbooks.com"
%>
<html>
<head>
    <title>Assembly Request</title>
    
	<!-- Wufoo CSS/JS -->
	
	<%= stylesheet_link_tag "dynamic.1233758974.css" %>
	<%= stylesheet_link_tag "theme" %>	
	<%= javascript_include_tag "dynamic.1226508100" %>


   	<%= stylesheet_link_tag "beetlebug" %>

    <!--
	<%= javascript_include_tag :defaults %>
	-->

	<%= javascript_include_tag "functions" %>

	<link type="text/css" href="http://jqueryui.com/latest/themes/base/ui.all.css" rel="stylesheet" />
	<script type="text/javascript" src="http://jqueryui.com/latest/jquery-1.3.2.js"></script>
	<script type="text/javascript" src="http://jqueryui.com/latest/ui/ui.core.js"></script>
	<script type="text/javascript" src="http://jqueryui.com/latest/ui/ui.tabs.js"></script>
	<script type="text/javascript" src="http://jqueryui.com/latest/ui/ui.progressbar.js"></script>

	<%= javascript_include_tag 'application' %>
							`

	<style>
	body{background: url('<%= parent_root %>/wp-content/uploads/2009/02/bbb-website-background-blue-polkadots.jpg');}
	</style>

</head>

<!-- <body id="public" >
<div id="container"> -->
<div id="base">  
<div id="page">
	

	<div id="header">
		<div id="logo">
	        <h1><a href="<%= parent_root %>/" title="Illustrated Children&#8217;s Books">
				<img src="<%= parent_root %>/wp-content/uploads/2009/02/logo4.png" 
					style="margin-top:0px;" alt="Beetle Bug Books" /></a>
			</h1>
	    </div>

		<div id="nav1">
			<ul>
				<!-- add current_page_item class for the current page -->
				<li class="page_item page-item-2113">
					<a href="<%= parent_root %>/" title="Home"><span>Home</span></a></li>
				<li class="page_item page-item-5">
					<a href="<%= parent_root %>/kids/" title="Kids"><span>Kids</span></a></li>
				<li class="page_item page-item-8">
					<a href="<%= parent_root %>/books/" title="Books"><span>Books</span></a></li>
				<li class="page_item page-item-13">
					<a href="<%= parent_root %>/schools/" title="Schools"><span>Schools</span></a></li>
				<li class="page_item page-item-15">
					<a href="<%= parent_root %>/about-mr-mike/" title="Mr. Mike"><span>Mr. Mike</span></a></li>
				<li class="page_item page-item-12">
					<a href="<%= parent_root %>/contact/" title="Contact"><span>Contact</span></a></li>
			</ul>
		</div>
		<!--/nav1-->
	</div>
	<!--/header -->


    <% if false && flash %>
    <div id="flash">
      <% if flash[:notice] %>
          <span class="notice"><%= flash[:notice] %></span>
      <% elsif flash[:warning] %>
          <span class="warning"><%= flash[:warning] %></span>
      <% end %>
    </div>
    <% end %>
    
    <!-- <div id="body"> -->
	<div id="formbox" style="background: white; width: 720px; margin: auto; padding: 15px;" align="left">
        <%= yield %>
    <!-- </div> -->
	</div>
    
    <div id="footer">

    </div>
</div>


</body>
</html>
